body {
    background-color: #ededed;
}

/* ESTILO CARROSSEL */
.carousel-wrapper {
    max-width: 800px; /* Define a largura máxima */
    margin: 0 auto; /* Centraliza o carousel */
}

.carousel-inner img {
    height: 400px; /* Define uma altura fixa para as imagens */
    object-fit: cover; /* Ajusta a imagem sem deformar */
    margin-top: 20px;
}   

.carousel-item img {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.carousel-item img:hover {
    transform: scale(1.05); /* Aumenta levemente a imagem */
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ESTILO CARDS */
.container-cards {
    margin-top: 30px;
    margin-bottom: 20px;
}

.custom-divider {
width: 80%;
height: 4px;
background: linear-gradient(to right, #212121, #949494);
margin: 40px auto;
border: none;
}

/* ESTILO FOOTER */
footer {
    border-top: 3px solid #156bff; /* Linha destacada no topo */
}

footer .btn-primary {
    background-color: #186dff;
    border: none;
    color: #000;
}

footer .btn-primary:hover {
    background-color: #196dff;
}